body{
    background-color: grey;
}
.mainbody{
    background-color: white;
    height: 620px;
    width: 500px;
    border-radius: 7px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.image{
    height: 375px;
    padding: 10px;
    overflow: hidden;
}
.heading h1{
    font-size: 35px;
    padding-left: 20px;
}
.para{
    padding-left: 20px;
}
.para p{
    font-size: 20px;
}

.buttons button{
    color: rgb(75, 59, 59);
    background-color: white;
    border: 2px solid grey;
    border-radius: 50px;
    margin-left: 20px;
    width: 100px;
    height: 25px;
    text-align: center;
}
